DEEPFIX_API_KEY=

# to change
DEEPFIX_HOME=.deepfix

DEEPFIX_TEST_API_URL=http://localhost:8844/v2/analyse
DEEPFIX_TEST_FIX_API_URL=http://localhost:8844/v2/fix
DEEPFIX_TEST_WEBHOOK_URL=http://localhost:8844/webhook/completion
MLFLOW_TRACKING_URI=http://localhost:5000

# Object detection
TR_IMAGES_DIR_PATH=./train
TR_ANNOTATIONS_PATH=./annotations/annotations_train.json
VAL_IMAGES_DIR_PATH=./val
VAL_ANNOTATIONS_PATH=./annotations/annotations_val.json
