DEEPFIX_API_KEY=
DEEPFIX_HOME=/root/workspace/.deepfix
DEEPFIX_TEST_API_URL=http://localhost:8844/v2/analyse
DEEPFIX_TEST_FIX_API_URL=http://localhost:8844/v2/fix
DEEPFIX_TEST_WEBHOOK_URL=http://localhost:8844/webhook/completion
MLFLOW_TRACKING_URI=http://localhost:5000

# Object detection
TR_IMAGES_DIR_PATH=D:\workspace\general_dataset\coco\train
TR_ANNOTATIONS_PATH=D:\workspace\general_dataset\coco\annotations\annotations_train.json
VAL_IMAGES_DIR_PATH=D:\workspace\general_dataset\coco\val
VAL_ANNOTATIONS_PATH=D:\workspace\general_dataset\coco\annotations\annotations_val.json
